<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="UTF-8" />

    <title>resume</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta name="description" content="" />

    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="style.css"/>
  </head>

  <body>
    
    {#
    <!-- BASIC INFO -->
    #}

    <div class="resume-section" id="basic-info">
      <h1 id="full-name">
        {{ basic_info.firstname }} {{ basic_info.lastname }}
      </h1>

      <div id="contact">
        <div id="phone">{{ contact.phone }}</div>
        <div id="email">
          <a id="email-mailto-link" href="mailto:{{contact.email}}">
          {{ contact.email }}
          </a>
        </div>
      </div>

      <div id="links">
        {% for link_title, link_content in links.items() %}
        <div id="link-{{ link_title }}">
          <a href="{{ link_content }}"
            >{{ link_title|title|replace("_", " ") }}</a
          >
        </div>

        {% endfor %}
      </div>
    </div>


    
    <nav id="section-nav-bar"> </nav>

    {#
    <!-- EDUCATION -->
    #}
    <div class="resume-section" id="education">
      <h2 class="section-title">Education</h2>
      <span class="education-institution-summary">
        <span class="education-institution-name">
          {{ education.overall.school }}
        </span>
        <span class="education-timespan">
          {{ education.overall.year_start }}-{{ education.overall.year_end }}
        </span>
      </span>
      <ul>
        <li>Overall GPA: {{ education.overall.gpa }}</li>

        {% for item in education.overall.achievements %}

        <li>{{ item }}</li>

        {% endfor %}
      </ul>
      <ul>
        {% for degree in education.degrees %}

        <li class="education-degree-desc">
          <h3 class="degree-title">{{ degree.name }}</h3>

          {% if degree.relevent_courses %}

          <h4>Relevent Coursework</h4>

          <ul>
            {% for course in degree.relevent_courses %}

            <li class="course-list-item">
              <span class="course-name">{{ course.name }}: </span>
              <span class="course-description">{{ course.description }}</span>
            </li>

            {% endfor %}
          </ul>

          {% endif %}
        </li>

        {% endfor %}
      </ul>
    </div>

    {#
    <!-- SKILLS -->
    #}

    <div class="resume-section" id="skills">
      <h2 class="section-title">Skills</h2>

      <div id="skills-section-programming-languages">
        <h3 class="subsection-title">Programming Languages</h3>
        <ul>
          {% for skill_level, langs_list in skills.programming_languages.items()
          %}

          <li>
            <em class="programming-language-proficiency">
              {{ skill_level|title }}:
            </em>
            {% for language in langs_list %}

            <span class="programming-languages-group">
              <span class="programming-language-name">
                {{ language }} {% if not loop.last %},{% endif %}
              </span>
            </span>

            {% endfor %}
          </li>

          {% endfor %}
        </ul>
        </div>

        <div id="skills-section-other-tech">
          <h3 class="subsection-title">Other Technical Skills</h3>

          <ul>
            {% for item in skills.other %}

            <li>
              <p>{{ item }}</p>
            </li>

            {% endfor %}
          </ul>
        </div>

      </div>
      {#
      <!-- EXPERIENCE -->
      #} 
      <div class "resume-section" id = "experience">
      <h2 class="section-title">Experience</h2>

      {% for item in experience %}

      <div class="experience-item">

        <span class = "past-job-header">
        <span class="past-job-title">
          {{item.job_title}}, {{ item.company_name}}
        </span>
        <span class="past-job-timespan">
          {{ item.year_start }}-{{ item.year_end }}
        </span>
        </span>
        <p class="past-job-description">{{ item.general_description }}</p>

        {% if item.bullet_points %}
        <ul>
          {% for point in item.bullet_points %}

          <li class="past-job-bullet-point">{{ point }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {#
    <!-- PROJECTS -->
    #}
    <div class="resume-section" id="projects">
    <h2 class="section-title">Projects</h2>
    <ul>
      {% for project in projects if project.show %}
      <li class="project-item">
        <span class="project-header">
          <span class="project-title-header">
            <a href="{{project.link}}"> {{ project.name }} </a>
          </span>
          
          <span class="project-keywords">
            {% for keyword in project.tech_keywords %}
            <span class="project-keyword">
              {{ keyword }}{% if not loop.last %},{% endif %}
            </span>

            {% endfor %}
          
          </span>
        </span>

            <ul class="project-bullet-points-list">
              {% for point in project.bullet_points %}

              <li>
                <p>{{ point }}</p>
              </li>
              {% endfor %}
            </ul>
          </span>
        </span>
      </li>

      {% endfor %}
    </ul>
    </div>

    {#
    <!-- HOBBIES/OTHER -->
    #}
    <div class="resume-section" id="other-interests">
      <h2 class="section-title">Other Interests</h2>
      <ul>
        {% for item in hobbies %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>


    <script> 

    window.addEventListener("DOMContentLoaded", function() {
      const sectionTitles = document.getElementsByClassName("section-title");
      const navLinks = document.getElementById("section-nav-bar");

      for (let i = 0; i < sectionTitles.length; i++) {
        const sectionTitle = sectionTitles[i].textContent;
        const listItem = document.createElement("li");
        
        listItem.className = "section-nav-bar-link"
        
        const link = document.createElement("a");

        link.textContent = sectionTitle;
        link.href = "#" + sectionTitle.replace(/\s+/g, "-").toLowerCase();

        listItem.appendChild(link);
        navLinks.appendChild(listItem);
      }
    });


    </script>
  </body>
</html>
