
body {
  font-family:"Helvetica";
  margin-left: 20%;
  margin-right: 20%;
background-color: #fffff8;
      color: #111;
  max-width:1400px;

  font-size: 20px;

}


 
.section-title {
  text-decoration:underline;
  font-family:"Courier"
}



div#basic-info {
  font-family:"Courier";
  margin: auto;
  width: 50%;
  text-align: center;
  border-bottom:none;
}


a:link, a:visited {
  color: cornflowerblue;
  text-decoration: none;
}


a:hover{
  font-weight: bold;
}

a:active{
  color: hotpink;
  text-decoration: none;

}

span.course-name{

  font-weight:bold;
  font-style:italic;


}

#section-nav-bar{

  margin: auto;
  padding-top: 3em;
  text-align: center;
  font-family:"Courier";
  border-bottom:solid;

}

.section-nav-bar-link{
  display: inline-block;
  padding: 0 1em;

  margin-bottom:1.3em;
}



.past-job-title{ font-weight:bold; }


.resume-section{

  border-bottom: solid .1em;


}


#projects  > ul{
  list-style:none;
}

.project-title-header{

  font-family:"Courier";

}

.project-header, .past-job-header, .education-institution-summary{
 display: flex; 
  justify-content: space-between;
  border-bottom: dotted;
}

.project-item {
  padding-bottom:3em;

}

.project-keywords, .past-job-timespan, .education-timespan{ 
  font-style:italic; 
}

.project-title-header, .past-job-title, .education-institution-name{

  font-weight:bold;
  font-size:1.3em;

}



