<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8" />

  <title>resume</title>

  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="description" content="" />

  <link rel="icon" href="favicon.png" />

  {% if style is defined %}
  <style>
    {
        {
        style|safe
      }
    }
  </style>
  {% endif %}

  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <div class="resume-section" id="basic-info">

    <h1 id="full-name">
      {{ contact.first_name }} {{ contact.last_name }}
    </h1>

    <div id="contact">
      <div id="email">
        <a id="email-mailto-link" href="mailto:{{contact.email}}">
          {{ contact.email }}
        </a>
      </div>
    </div>

    <div id="links">
      {% for site in contact.website %}
      <div class="site-link">
        <a href="{{ site.url}}">{{ site.text }}</a>
      </div>

      {% endfor %}
    </div>
  </div>



  <nav id="section-nav-bar"> </nav>

  {#
  <!-- EDUCATION -->
  #}
  <div class="resume-section" id="education">
    <h2 class="section-title">Education</h2>
    <span class="education-institution-summary">
      <span class="education-institution-name">
        {{ education.school.name }}
      </span>
      <span class="education-timespan">
        {{ education.school.start_date.year }}-{{ education.school.end_date.year }}
      </span>
    </span>
    <ul>
      {% for degree in education.school.degree %}
      <li class="education-degree-desc">
        <span class="education-degree-type">{{ degree.degree_type }},</span> <span class="education-degree-field">{{
          degree.field }}</span>
      </li>

      {% if not loop.last %}
      <br />
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <br>


  {# <!-- SKILLS --> #}

  <div class="resume-section" id="skills">
    <h2 class="section-title">Skills</h2>

    <div id="skills-section-programming-languages">
      <h3 class="subsection-title">Programming Languages</h3>
      {% set languages = (skills.programming_languages|first).language %}
      <ul>
        {% for since, langs in languages|groupby("since") %}
        <li> <span class="lang-duration">
            For {{ (today() - since).days // 365 }} years: </span>
          <span class="lang-name"> {{ langs|map(attribute="language_name")|list|join(", ") }} </span>
        </li>
        {% endfor %}
      </ul>


      <div id="skills-section-other-tech">
        {% set groups = skills.skill_group %}
        {% for group in groups %}

        <h3 class="subsection-title">{{ group.skill_group_name }}</h3>
        {% if group.skill_bullet %}
        <ul>
          {% for bullet in group.skill_bullet %}
          <li>
            {{ bullet.skill_name }}
          </li>

          {% endfor %}

          {% if group.skill_text %}
          <br>
          {% for text in group.skill_text %}
          <li>
            {{ text }}
          </li>


          {% endfor %}

          {% endif %}

        </ul>
        {% endif %}


        {% endfor %}
      </div>

    </div>
  </div>


  {# <!-- EXPERIENCE --> #}

  <div class="resume-section" id="experience">
    <h2 class="section-title">Experience</h2>

    {% for loc in experience.experience_location %}
    {% set exp_roles = loc.experience_role %}

    <div class="experience-item">

      <h3 class="past-job-company"> {{ loc.experience_location_name }}</h3>

      {% for exp_role in exp_roles %}
      <span class="past-job-header">

        <span class="past-job-title">
          {{exp_role.role_name}}
        </span>
        <span class="past-job-timespan">


          {% set start = exp_role.start_date %}
          {% if exp_role.end_date is defined %}

          {% set end = exp_role.end_date %}




          {#
          <!-- Display the month only if the duration is less than a year-->
          #}

          {% if end.year == start.year %}
          {{ start.strftime("%B %Y")}} - {{ end.strftime("%B %Y" )}}
          {% else %}
          {{ start.year }}-{{ end.year }}
          {% endif %}

          {% else %}

          {{ start.year }}- present


          {% endif %}
        </span>
      </span>

      {% if exp_role.role_description %}
      <p class="past-job-description">{{ exp_role.role_description }}</p>
      {% endif %}


      {% if exp_role.action_bullet %}
      <ul>
        {% for point in exp_role.action_bullet %}
        <li class="past-job-bullet-point">{{ point }}</li>
        {% endfor %}
      </ul>
      {% endif %}


      {% endfor %}

      {% if loc.action_bullet %}
      <ul>
        {% for point in loc.action_bullet %}

        <li class="past-job-bullet-point">{{ point }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  </div>


  {#
  <!-- PROJECTS -->
  #}
  <div class="resume-section" id="projects">
    {% set projects = projects.project %}

    <h2 class="section-title">Projects</h2>
    <ul>

      {% for project in projects %}
      <li class="project-item">
        <span class="project-header">
          <span class="project-title-header">
            <a href="{{project.project_link}}"> {{ project.project_title }} </a>
          </span>

          <span class="project-keywords">
            {% for keyword in project.project_tech %}
            <span class="project-keyword">
              {{ keyword }}{% if not loop.last %},{% endif %}
            </span>

            {% endfor %}

          </span>
        </span>

        <ul class="project-bullet-points-list">
          {% for point in project.project_description.values() %}
          {% for bullet in point %}
          <li>
            {{ bullet }}
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
        </span>
        </span>
      </li>

      {% endfor %}
    </ul>
  </div>


  {#
  <!-- HOBBIES/OTHER -->
  #}
  <div class="resume-section" id="other-interests">

    <br>
    <h2 class="section-title">Other Interests</h2>
    <ul>
      {% for grouping in hobbies.values() %}
      {% for item in grouping %}
      <li>{{ item }}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>



  <script>

    window.addEventListener("DOMContentLoaded", function () {
      const sectionTitles = document.getElementsByClassName("section-title");
      const navLinks = document.getElementById("section-nav-bar");

      for (let i = 0; i < sectionTitles.length; i++) {
        const sectionTitle = sectionTitles[i].textContent;
        const listItem = document.createElement("li");

        listItem.className = "section-nav-bar-link"

        const link = document.createElement("a");

        link.textContent = sectionTitle;
        link.href = "#" + sectionTitle.replace(/\s+/g, "-").toLowerCase();

        listItem.appendChild(link);
        navLinks.appendChild(listItem);
      }
    });


  </script>
</body>


</html>
